<div class="wrapper">
    <div class="columns is-mobile is-centered">
        <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-half-widescreen is-half-fullhd">
            {{reset-password-form}}
        </div>
    </div>
</div>
{{outlet}}
